* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: roboto, sans-serif;
    letter-spacing: 1px;
}

.wrapper {
    max-width: 600px;
    margin: 10% auto;
    padding: 0 5%;
}

h1, form, .tasks {
    text-align: center; 
}

.tasks>p {
    margin-bottom: 2rem;
}

ul {
    display: none;
    padding: 5% 0 5% 5%;
    background-color: rgb(238, 238, 238);
    border-radius: 2rem;
}

li {
    display: grid;
    grid-template-columns: 60% 20% 20%;
    text-align: left;
    margin: 1rem 0;
}

li p {
    align-self: center;
    overflow-wrap: break-word;
}

li button {
    justify-self: center;
    align-self: center;
}

li input {
    justify-self: center;
    align-self: center;
    width: 1rem;
    height: 1rem;
}



h1 {
    margin-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#textInput {
    display: inline-block;
    width: 100%;
    border-radius: 2em;
    border: 2px solid rgb(66, 129, 246);
    margin-bottom: 1rem;
    padding: 0.3em;
}

#submitButton {
    display: inline-block;
    width: 100%;
    border-radius: 2em;
    border: 2px solid rgb(66, 129, 246);
    background-color: rgb(66, 129, 246);
    padding: 0.3em 1em;
    margin-bottom: 2rem;
    font-weight: 600;
    color: white;
}

li button {
    background-color: red;
    color: white;
    border-radius: 50%;
    border: 1px solid red;
    width: 1rem;
    height: 1rem;
    padding: 3px;
    box-sizing: content-box;
    line-height: 1rem;
}

@media (min-width: 1280px) {
    #submitButton {
        display: inline-block;
        width: auto;
    }
}



